@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/*NAVBAR*/
nav {
    position: fixed;
    width: 100%;
    background-color: #88AB8E;
    height: 130px;
    display: flex;
    align-items: center;
}
nav h1 {
    font-family: "Anton", sans-serif;
    color: #F2F1EB;
    font-size: 80px;
    margin-left: 15px;
}
nav h1:hover {
    text-shadow: 0 0 5px #000;
}
nav ul {
    position: absolute;
    right: 50px;
    display: flex;
    gap: 40px;
}
nav ul li {
    list-style: none;
    width: 120px;
    height: 45px;
    border-radius: 25px;
    border: 3px solid #F2F1EB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav ul a li {
    color: #F2F1EB;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
}
nav ul a:last-child li {
    background-color: #254154;
}
nav ul a li:hover {
    background-color: #3c9271;
}
.navbar-block {
    height: 130px;
    background-color: #3c9271;
}

/* SIGNUP */
.signup {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 350px;
    color: #3c9271;
}
.signup form input {
    border: 2px solid #3c9271;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    padding-inline: 10px;
}
.signup form label {
    margin: 30px 0 10px 0;
    font-weight: 800;
}
.signup form button {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: #3c9271;
    align-self: end;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    color: #F2F1EB;
}
.signup form button:hover {
    color: #3c9271;
    background-color: #F2F1EB;
    border: 2px solid #3c9271;
}

/* LOGIN */
.login {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 350px;
    color: #3c9271;
}
.login form input {
    border: 2px solid #3c9271;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    padding-inline: 10px;
}
.login form label {
    margin: 30px 0 10px 0;
    font-weight: 800;
}
.login form button {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: #3c9271;
    align-self: end;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    color: #F2F1EB;
}
.login form button:hover {
    color: #3c9271;
    background-color: #F2F1EB;
    border: 2px solid #3c9271;
}

/* HOME */
.home {
    display: flex;
    padding: 20px;
    gap: 20px;
}
.home .create-todo {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 350px;
    color: #3c9271;
}
.home .create-todo input {
    border: 2px solid #3c9271;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    padding-inline: 10px;
}
.home .create-todo label {
    margin: 30px 0 10px 0;
    font-weight: 800;
}
.home .create-todo button {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: #3c9271;
    align-self: end;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    color: #F2F1EB;
}
.home .create-todo button:hover {
    color: #3c9271;
    background-color: #F2F1EB;
    border: 2px solid #3c9271;
}

/* TODOS */
.todos {
    flex-grow: 1;
    background-color: #1e554f;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}
.todos .todo {
    display: flex;
    background-color: #F2F1EB;
    margin-bottom: 15px;
    height: 120px;
    border-radius: 5px;
}
.todos .todo div {
    margin: 5px 0 5px 5px;
}
.todos .todo div:first-child {
    width: 300px;
    margin-right: 20px;
    flex-grow: 1;
}
.todos .todo div:nth-child(2) {
    width: 120px;
}
.todos .todo div:nth-child(3) {
    width: 100px;
}
.todos .todo div:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 40px;
}
.todos .todo div i {
    font-size: 30px;
    color: rgb(26, 26, 181);
    cursor: pointer;
}
.todos .todo div i:first-child {
    color: rgb(218, 56, 56);
}
.todos .todo div h1 {
    font-size: 20px;
    color: hsl(120, 70%, 44%);
}
.todos .todo div h3 {
    font-size: 14px;
}
.todos .todo div:first-child h3 {
    background-color: #c6cec7;
    flex-grow: 1;
    border-radius: 5px;
    padding-left: 5px;
}
.todos .todo div:first-child {
    display: flex;
    flex-direction: column;
}
.todos h2 {
    font-size: 40px;
    margin-block: 20px;
    color: #F2F1EB;
}