@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}


/*NAVBAR*/
nav {
    position: fixed;
    width: 100%;
    background-color: #88AB8E;
    height: 130px;
    display: flex;
    align-items: center;
    z-index: 1;
}
nav h1 {
    font-family: "Anton", sans-serif;
    color: #F2F1EB;
    font-size: 80px;
    margin-left: 15px;
}
nav h1:hover {
    transform: scale(102%);
}
nav ul {
    position: absolute;
    right: 50px;
    display: flex;
    gap: 40px;
}
nav ul li {
    list-style: none;
    width: 120px;
    height: 45px;
    border-radius: 25px;
    border: 3px solid #F2F1EB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav ul a li {
    color: #F2F1EB;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
}
nav ul a:last-child li {
    background-color: #254154;
}
nav ul a li:hover {
    background-color: #3c9271;
}
.navbar-block {
    height: 130px;
    background-color: #3c9271;
}

/* SIGNUP */
.signup {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 350px;
    color: #3c9271;
}
.signup form input {
    border: 2px solid #3c9271;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    padding-inline: 10px;
}
.signup form label {
    margin: 30px 0 10px 0;
    font-weight: 800;
}
.signup form button {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: #3c9271;
    align-self: end;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    color: #F2F1EB;
}
.signup form button:hover {
    color: #3c9271;
    background-color: #F2F1EB;
    border: 2px solid #3c9271;
}

/* LOGIN */
.login {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 350px;
    color: #3c9271;
}
.login form input {
    border: 2px solid #3c9271;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    padding-inline: 10px;
}
.login form label {
    margin: 30px 0 10px 0;
    font-weight: 800;
}
.login form button {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: #3c9271;
    align-self: end;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    color: #F2F1EB;
}
.login form button:hover {
    color: #3c9271;
    background-color: #F2F1EB;
    border: 2px solid #3c9271;
}

/* CREATE TODO */
.todo-list {
    display: flex;
    padding: 20px;
    gap: 20px;
}
.todo-list .create-todo {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 350px;
    color: #3c9271;
}
.todo-list .create-todo input {
    border: 2px solid #3c9271;
    height: 35px;
    border-radius: 25px;
    font-size: 20px;
    padding-inline: 10px;
}
.todo-list .create-todo textarea {
    border: 2px solid #3c9271;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    resize: none;
}
.todo-list .create-todo label {
    margin: 20px 0 5px 0;
    font-weight: 700;
}
.todo-list .create-todo button {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: #3c9271;
    align-self: end;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    color: #F2F1EB;
}
.todo-list .create-todo button:hover {
    color: #3c9271;
    background-color: #F2F1EB;
    border: 2px solid #3c9271;
}
.todo-list .create-todo .error {
    color: #ff0000;
    border: 2px solid #ff0000;
    margin-top: 20px;
    padding: 10px;
}

/* TODOS */
.todos {
    flex-grow: 1;
    background-color: #339085;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}
.todos .todo {
    display: flex;
    background-color: #F2F1EB;
    margin-bottom: 15px;
    height: 162px;
    border-radius: 5px;
}
.todos .todo div {
    display: flex;
    flex-direction: column;
    margin: 0 5px 5px 0;
}
.todos .todo div:first-child {
    flex-grow: 1;
    margin-left: 5px;
}
.todos .todo div:first-child h3 {
    white-space: pre-line;
    overflow-y: auto;
}
.todos .todo div:nth-child(2) {
    min-width: 120px;
}
.todos .todo div:nth-child(3) {
    min-width: 100px;
}
.todos .todo div:nth-child(2) h3, .todos .todo div:nth-child(3) h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todos .todo div:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
}
.todos .todo div i {
    font-size: 30px;
    color: rgb(26, 26, 181);
    cursor: pointer;
    margin-top: 10px;
}
.todos .todo div i:first-child {
    color: rgb(218, 56, 56);
}
.todos .todo div h1 {
    font-size: 24px;
    color: hsl(120, 70%, 44%);
}
.todos .todo div h1:first-child {
    display: flex;
}
.todos .todo div h1 h5 {
    font-size: 22px;
    color: #737373;
    margin-left: 10px;
}
.todos .todo div h3 {
    font-size: 14px;
    background-color: #f3f3f3;
    box-shadow: inset 3px 3px 10px #424242;
    flex-grow: 1;
    border-radius: 5px;
    padding: 8px;
}
.todos h2 {
    font-size: 40px;
    margin-block: 20px;
    color: #F2F1EB;
}
.todos .todo h4 {
    font-size: 20px;
    align-self: center;
    margin: auto;
}

/* DELETE CONFIRMATION COMPONENT */
.delete-confirmation-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.delete-confirmation {
    background-color: #ffffff;
    width: 480px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.delete-confirmation h1 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-inline: 20px;
}
.delete-confirmation .btns {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.delete-confirmation .btns button {
    width: 100px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    border: 0;
    background-color: #46a91c;
    cursor: pointer;
}
.delete-confirmation .btns button:first-child {
    background-color: #ff0000;
}
.delete-confirmation h1 span {
    color: #ff0000;
}

/* EDIT TODO COMPONENT */
.edit-todo-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.edit-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    width: 500px;
    color: #3c9271;
    background-color: #fff;
    border-radius: 20px;
}
.edit-todo input {
    border: 2px solid #3c9271;
    height: 45px;
    width: 350px;
    border-radius: 25px;
    font-size: 20px;
    padding-inline: 10px;
    align-self: center;
}
.edit-todo textarea {
    border: 2px solid #3c9271;
    width: 350px;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    align-self: center;
    resize: none;
}
.edit-todo label {
    margin: 30px 0 10px 70px;
    font-weight: 800;
}
.edit-todo h1 {
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.edit-todo h1 h2 {
    color: #717171;
    margin-left: 20px;
}
.edit-todo .btns button {
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: #3c9271;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    color: #F2F1EB;
}
.edit-todo .btns button:last-child {
    background-color: #ff0000;
}
.edit-todo .btns {
    align-self: center;
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
    width: 370px;
}
.edit-todo .btns button:first-child:hover {
    color: #3c9271;
    background-color: #F2F1EB;
    border: 2px solid #3c9271;
}

/* HOME */

.home {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.home .todo-list-nav {
    height: 200px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #339085;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    color: #fff;
}
.home .todo-list-nav:hover {
    transform: scale(103%);
}
.home .todo-list-nav i {
    font-size: 100px;
}
.home .todo-list-nav h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-block: 18px 8px;
}